.App {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

button {
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover{
    background: black;
    color: white;
}